body.page-dashboard .content{
	// Dashboard styles

	.panel{
		margin-bottom: @grid-margin-bottom;
	}

	.panel-body .row-filter{
		/* Row filter is top section of .panel-body which includes button dropdown and search */
		margin-bottom: 15px;

		.col-item-search{
			text-align: right;
		}
	}

	.panel-placeholder{
		/* Jquery UI placeholder */
		border: 2px dashed @panel-placeholder-border;
	}

	.panel-footer{
		text-align: right;
		background-color: transparent;

		.fa{
			margin-left: 5px;
			vertical-align: middle;
		}
	}

	.table-responsive{
		@media(max-width: @screen-xs-max){
			border: none;
		}
	}

	.dataTables_filter{
		@media(max-width: @screen-sm-max){
			/* Datatables*/
			text-align: right;
		}
	}

	.panel-card{
		@media(min-width: @screen-lg-min){
			/* Cards */
			margin-bottom: @grid-margin-bottom - 15;
		}

		.panel-heading{
			color: @card-color;
		}

		.panel-body{
			color: @card-color;
			position: relative;

			h2{
				margin-bottom: 5px;
				font-size: @font-size-h2 + 2;
			}

			i{
				position: absolute;
				top: 15px;
				right: 15px;
				font-size: @card-icon-font-size;
				color: @card-icon-color;
			}
		}
	}

	// panels with charts
	.panel-chart .panel-body{

		.chart-heading{
			/* Chart heading */
			color: @chart-heading-color;
		}

		.chart-body{
			/* Chart content */
			margin-top: 20px;
			margin-bottom: 15px;
			margin-left: -8px;
		}
	}

	.panel-country-sales .panel-body{
		/* Sales stats by country */
		padding-bottom: 0;

		.nav-tabs{
			@media(max-width: @screen-sm-max){
				border-bottom: 1px solid @nav-tabs-border;

				> li{
					float: left;

					& + li{
						padding-top: 0;
					}

					> a{
						border-right-color: transparent;
						border-bottom-color: transparent;

						&:hover,
						&:focus{
							border-bottom-color: @nav-tabs-border;
						}
					}

					&.active > a{
						&,
						&:hover,
						&:focus{
							border-right-color: @nav-tabs-border;
							border-bottom-color: #fff;
						}
					}
				}

				&.rounded > li > a{
					border-top-right-radius: @rounded;
					border-bottom-left-radius: 0;
				}
			}
		}

		.table{
			margin-bottom: 5px;

			> thead > tr > th,
			> tbody > tr > td{
				&:first-child{
					min-width: 100px;
					padding-left: 0;
				}
			}

			> tbody > tr > td .flag{
				width: @country-sales-flag-width;
				height: @country-sales-flag-height;
				top: -2px;
				margin-right: 5px;
				background-size: cover;
			}
		}

		.country-sales-footer{
			margin-top: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: center;
			color: @country-sales-footer-color;
			border-top: 1px solid @country-sales-footer-border;
			.clearfix();

			.col-item{
				@media(max-width: @screen-xs-max){
					padding-left: 10px;
					padding-right: 10px;
				}

				small{
					display: block;
					margin-bottom: 3px;
					font-weight: 600;
				}

				span{
					@media(min-width: @screen-xs-min){
						font-size: @font-size-lg - 1;
					}
				}
			}
		}
	}

	.panel-visits .panel-body{
		/* Panel visits */
		padding-top: 0;

		.table > tbody > tr > td{
			padding-top: 23px;
			padding-bottom: 23px;
			
			&:first-child{
				padding-left: 0;
			}

			&:last-child{
				padding-right: 0;
				text-align: right;
			}

			.lead{
				margin-top: 10px;
				margin-bottom: 0;
			}
		}
	}

	.panel-activity-monitor .media-wrapper{
		/* Activity list component */
		max-height: @activity-monitor-height;
		overflow-y: auto;

		.media{
			padding-top: 8px;
			padding-bottom: 8px;
			margin-top: 0;
			border-top: 1px solid @activity-monitor-media-border;
		}

		.media-left .label{
			width: @activity-monitor-thumb-width;
			height: @activity-monitor-thumb-height;
			border-radius: @rounded - 2;

			i{
				vertical-align: middle;
			}
		}

		.media-body{
			vertical-align: middle;
		}

		.media-right{
			white-space: nowrap;
			font-style: italic;
			color: @activity-monitor-media-right-color;
		}
	}

	.panel-events .dt-bootstrap{
		/* Events */
		margin-top: -35px;

		.table{
			> thead > tr > th{
				border-bottom: none;
			}

			> tbody > tr{
				&:first-child > td{
					border-top: none;
				}

				> td{
					position: relative;

					&.details-control{
						padding-left: 32px;

						&:before{
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							margin-top: auto;
							margin-bottom: auto;
						}

						.block{
							margin-bottom: 5px;
						}
					}

					&:last-child{
						padding-right: 0;

						.btn{
							float: right;
						}

						.table > tbody > tr > td{
							vertical-align: top;

							&:last-child{
								padding-right: 15px;
							}

							.label{
								margin-bottom: 5px;
							}
						}
					}
				}

				&.shown + tr > td{
					/* When dropdown table is shown */
					padding-left: 0;
				}
			}
		}
	}

	.panel-lead-staff .panel-body{
		/* Lead staff */
		padding-bottom: 0;

		.dt-bootstrap{
			margin-top: -38px;

			.table{
				> thead > tr > th,
				> tbody > tr > td{
					&:first-child{
						padding-left: 0;
					}

					&:last-child{
						padding-right: 0;
						text-align: right;
					}
				}

				> tbody > tr > td .img-wrapper{
					display: table;

					img{
						display: table-cell;
						width: @lead-staff-thumb-width;
						height: @lead-staff-thumb-height;
						margin-right: 10px;
					}

					span{
						display: table-cell;
						vertical-align: middle;
					}
				}
			}
		}		
	}

	// Chat component
	.panel-chat .panel-body{
		.media-wrapper{
			max-height: @chat-height;
			overflow-y: auto;

			.media{
				& + .media{
					margin-top: 20px;
				}

				.media-left{
					padding-top: 25px;
				}

				.media-body{
					.time{
						font-size: @font-size-sm - 1;
					}

					.message{
						margin-top: 8px;
						padding: 8px 10px 10px;
						border-radius: @rounded;

						strong{
							font-style: italic;

							& + p{
								margin-top: 8px;
							}
						}

						p{
							margin-bottom: 0;
						}
					}
				}
			}

			.media-incoming-message .message{
				border: 1px solid @chat-incoming-message-border;
				background-color: @chat-incoming-message-background;
			}

			.media-my-message .message{
				border: 1px solid @chat-my-message-border;
				background-color: @chat-my-message-background;
			}
		}

		form{
			margin: 10px -15px -15px;
			border-top: 1px solid @chat-form-border;

			.form-control{
				font-size: @font-size-base;
				border-top: none;
				border-right-color: @chat-form-border;
				border-bottom: none;
				border-left: none;

				&:focus{
					border-right-color: @chat-form-border;
				}
			}
		}
	}

	.panel-card-stat .panel-body{
		/* Card stats */
		padding-top: 15px;

		strong{
			font-weight: 700;
			font-size: @font-size-sm;
		}

		h2{
			margin-top: 10px;
			margin-bottom: 5px;
		}
	}

	.panel-calendar .fc-toolbar h2{
		/* Calendar */
		font-size: @font-size-base + 2;
	}

	.panel-tasks .panel-body{
		/* Task component */
		padding-bottom: 0;
		
		.dt-bootstrap{
			margin-top: -38px;

			.table{
				> thead > tr > th,
				> tbody > tr > td{
					&:first-child{
						width: 35px;
						min-width: 35px;
						padding-left: 0;
					}

					&:last-child{
						width: 50px;
						padding-right: 0;
					}
				}

				> tbody > tr > td{
					&.details-control:before{
						margin-right: 0;
						position: relative;
						top: -1px;
						left: 32px;
					}

					.icheckbox_minimal-grey{
						position: relative;
						left: -16px;
					}

					.btn-group .btn{
						width: 25px;
						margin-left: 0;
					}

					.table > tbody > tr > td:first-child{
						padding-left: 15px;
					}
				}
			}
		}
	}

	.panel-chart-users .chart-body{
		/* Users comparison chart */
		height: @chart-height;
		margin-top: 45px;
		margin-right: -15px;

		.legend table{
			margin-top: -60px;

			.legendLabel{
				font-size: @font-size-sm - 1;
			}
		}
	}

	.panel-other-stats .chart-body{
		/* Other stats */
		margin-top: 20px;
		margin-bottom: 60px;
		text-align: center;

		@media(max-width: @screen-md-max){
			margin-left: -15px;
			margin-right: -15px;
		}

		.chart-title{
			height: 38px;
		}

		.easy-pie-chart{
			display: block;

			.percent{
				color: @text-danger;
			}
		}
	}
}