<form name="">
  <div class="inbox-list-heading row">
    <div class="col-sm-9">
      <div class="btn-group">
        <span class="btn btn-checkbox">
          <input type="checkbox" class="icheck">
        </span>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Actions <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Mark as read</a></li>
          <li><a href="#">Mark as unread</a></li>
          <li class="divider"></li>
          <li><a href="#">Spam</a></li>
        </ul>
      </div><!-- /.btn-group -->

      <button type="button" class="btn btn-default m-left-5" data-action="btn-refresh">
        <i class="fa fa-refresh"></i>
      </button>
      <button type="button" class="btn btn-default m-left-5" data-action="btn-trash">
        <i class="fa fa-trash"></i>
      </button>
    </div><!-- /.col-sm-9 -->

    <div class="col-sm-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-sm-3 -->
  </div><!-- /.inbox-heading -->

  <div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-inbox-list">
      <tbody>
        <tr class="unread" data-id="1">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Michael Strong</td>
          <td>Some email heading - Then goes a bit of email description text. Lorem ipsum sit.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>23:11 PM</td>
        </tr>
        <tr class="unread" data-id="2">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>John Smith</td>
          <td>Curabitur sit amet bibendum quam. Donec vitae velit et leo lacinia in nec erat.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>23:10 PM</td>
        </tr>
        <tr class="unread" data-id="3">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Susan Doe</td>
          <td>Duis sodales porttitor mi vel iaculis.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>22:30 PM</td>
        </tr>
        <tr data-id="4">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Mark Alexander</td>
          <td>Hello from Mr. Alexander.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>22:20 PM</td>
        </tr>
        <tr data-id="5">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>John Mcbrady</td>
          <td>Hello. Let's get started with that project.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>22:10 PM</td>
        </tr>
        <tr data-id="6">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Evan Cellia</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>22:00 PM</td>
        </tr>
        <tr data-id="7">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>S. Koeln</td>
          <td>About upcoming meeting issues. Am I right? Do we have to delay it?</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>21:55 PM</td>
        </tr>
        <tr data-id="8">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Evan Cellia</td>
          <td>Thanks for the clarifications.))</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>20:12 PM</td>
        </tr>
        <tr data-id="9">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Mark Alexander</td>
          <td>Just found this on some of the websites, please have a look.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>20:20 PM</td>
        </tr>
        <tr data-id="10">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>A. Johnston</td>
          <td>Is everything going fine now?</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>Mar 09</td>
        </tr>
        <tr data-id="11">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Amber Scott</td>
          <td>John, please call me back as soon as possible. I need some explanations.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>Mar 08</td>
        </tr>
        <tr data-id="12">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Emma Sonder</td>
          <td>John, is it ok to make some minor changes to our project? Thanks.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>Mar 07</td>
        </tr>
        <tr data-id="13">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>A. Johnston</td>
          <td>I received your message, thanks a lot. It helped me much.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>Feb 25</td>
        </tr>
        <tr data-id="14">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Mark Alexander</td>
          <td>Yeah, that was awesome. Really liked it. Did the team and Ann see it?</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>Feb 24</td>
        </tr>
        <tr data-id="15">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Bobby Dee</td>
          <td>Hey man! Call me back)) Just call me back. Want to clarify some details.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>Feb 24</td>
        </tr>
        <tr data-id="16">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Sona Sally</td>
          <td>John, thank you for efforts, I really appreciate it.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>Feb 22</td>
        </tr>
        <tr data-id="17">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>George Ma</td>
          <td>Hehehey!!! Come on man, be easy on this.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>15/08/15</td>
        </tr>
        <tr data-id="18">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Lena Lange</td>
          <td>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>13/08/15</td>
        </tr>
        <tr data-id="19">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Emma Lange</td>
          <td>Bla bla bla... Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>12/08/15</td>
        </tr>
        <tr data-id="20">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Jimmy Fang</td>
          <td>Oh la la. Sam just called me, that was cool. He loved the idea.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>11/08/15</td>
        </tr>
        <tr data-id="21">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Oliver Silverstone</td>
          <td>You can build whole bunch of it using our super simple to use Lorem Ipsum.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>11/08/15</td>
        </tr>
        <tr data-id="22">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Jack Thorn</td>
          <td>Don’t believe it? Just try it!</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>19/07/15</td>
        </tr>
        <tr data-id="23">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Sam Sonenberg</td>
          <td>So, this dude made a type specimen book using Lorem Ipsum text.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>14/07/15</td>
        </tr>
        <tr data-id="24">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>David Lovitz</td>
          <td>Curabitur tortor. Pellentesque nibh.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>13/07/15</td>
        </tr>
        <tr data-id="25">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>David S.</td>
          <td>Aenean quam. In scelerisque sem at dolor. Maecenas mattis.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>10/07/15</td>
        </tr>
        <tr data-id="26">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Lenny Marco</td>
          <td>Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>09/07/15</td>
        </tr>
        <tr data-id="27">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Anna Sanders</td>
          <td>Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>08/07/15</td>
        </tr>
        <tr data-id="28">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Zella Onniorro</td>
          <td>Vestibulum sapien. Proin quam.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>07/07/15</td>
        </tr>
        <tr data-id="29">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Martha Solo</td>
          <td>Suspendisse in justo eu magna luctus suscipit. Sed lectus. Integer euismod.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>07/07/15</td>
        </tr>
        <tr data-id="30">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Sona Sandro</td>
          <td>Morbi lacinia molestie dui. Praesent blandit dolor.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>06/07/15</td>
        </tr>
        <tr data-id="31">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Bella Giordano</td>
          <td>Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>03/07/15</td>
        </tr>
        <tr data-id="32">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Max Zlatanovic</td>
          <td>Morbi lacinia molestie dui. Praesent blandit dolor.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>28/06/15</td>
        </tr>
        <tr data-id="33">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Ella Gordon</td>
          <td>Sed pretium blandit orci. Ut eu diam at pede suscipit sodales. Aenean elit.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>27/06/15</td>
        </tr>
        <tr data-id="34">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Ann Harth</td>
          <td>Nullam mauris orci, aliquet et, iaculis et, viverra vitae, ligula.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>26/06/15</td>
        </tr>
        <tr data-id="35">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Selma Dogherty</td>
          <td>Vivamus consectetuer risus et tortor.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>25/06/15</td>
        </tr>
        <tr data-id="36">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Olly Volander</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>23/06/15</td>
        </tr>
        <tr data-id="37">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Selena Guillamo</td>
          <td>Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>22/06/15</td>
        </tr>
        <tr data-id="38">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Amber Sollano</td>
          <td>Curabitur sodales ligula in libero.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>21/06/15</td>
        </tr>
        <tr data-id="39">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Helena Harper</td>
          <td>Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>19/06/15</td>
        </tr>
        <tr data-id="40">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Simao Sendergio</td>
          <td>Cras metus. Sed aliquet risus a tortor. Integer id quam.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>18/06/15</td>
        </tr>
        <tr data-id="41">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Angella Sarina</td>
          <td>Morbi mi. Quisque nisl felis, venenatis tristique.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>17/06/15</td>
        </tr>
        <tr data-id="42">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Araz Callas</td>
          <td>Proin sodales libero eget ante. Nulla quam. Aenean laoreet.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>16/06/15</td>
        </tr>
        <tr data-id="43">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Michael Svensson</td>
          <td>Vestibulum nisi lectus, commodo ac, facilisis ac.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>15/06/15</td>
        </tr>
        <tr data-id="44">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Olly Colbert</td>
          <td>Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. Sed pretium.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>14/06/15</td>
        </tr>
        <tr data-id="45">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Jenny Jefferson</td>
          <td>Aenean lectus elit, fermentum non, convallis id, sagittis at, neque.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>12/06/15</td>
        </tr>
        <tr data-id="46">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Ella Hopkins</td>
          <td>Fusce nec tellus sed augue semper porta. Mauris massa.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>11/06/15</td>
        </tr>
        <tr data-id="47">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Andy Gorkins</td>
          <td>Curabitur sodales ligula in libero.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>10/06/15</td>
        </tr>
        <tr data-id="48">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Henry Spodriks</td>
          <td>Class aptent taciti sociosqu ad litora torquent per conubia nostra himenaeos.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>09/06/15</td>
        </tr>
        <tr data-id="49">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Sona Atheros</td>
          <td>Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>08/06/15</td>
        </tr>
        <tr data-id="50">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Henry Dodgers</td>
          <td>Proin quam. Etiam ultrices.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>07/06/15</td>
        </tr>
        <tr data-id="51">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Mike Sonders</td>
          <td>Mauris imperdiet vehicula maximus.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>06/06/15</td>
        </tr>
        <tr data-id="52">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Ella Linney</td>
          <td>Nulla tempor massa eget lectus euismod viverra. Mauris imperdiet vehicula.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>05/06/15</td>
        </tr>
        <tr data-id="53">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Edith Smalls</td>
          <td>Duis eleifend condimentum maximus. Suspendisse potenti.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>04/06/15</td>
        </tr>
        <tr data-id="54">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Selma Scully</td>
          <td>Vestibulum quis pharetra nisl. Duis quis pellentesque ante.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>03/06/15</td>
        </tr>
        <tr data-id="55">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Andy Dirk</td>
          <td>Maecenas egestas odio eu odio pellentesque, quis dapibus dolor bibendum.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>02/06/15</td>
        </tr>
        <tr data-id="56">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Michael Ashley</td>
          <td>Nam turpis turpis, ultricies in rhoncus at, interdum quis tortor.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>01/06/15</td>
        </tr>
        <tr data-id="57">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Sally Sparks</td>
          <td>Suspendisse ex quam, faucibus eget libero quis.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>28/05/15</td>
        </tr>
        <tr data-id="58">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Esther Spencer</td>
          <td>Phasellus consectetur maximus ex sit amet eleifend.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>27/05/15</td>
        </tr>
        <tr data-id="60">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Lola Simona</td>
          <td>Donec blandit nibh sit amet tellus interdum, sit amet sodales nibh tempor.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>26/05/15</td>
        </tr>
        <tr data-id="61">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Harry Globe</td>
          <td>Vestibulum non maximus tellus.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>26/05/15</td>
        </tr>
        <tr data-id="62">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Amanda Spoll</td>
          <td>Etiam euismod semper eros id lobortis.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>26/05/15</td>
        </tr>
        <tr data-id="63">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Olly Smithson</td>
          <td>Nusce quis magna varius nunc consequat ultrices.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>25/05/15</td>
        </tr>
        <tr data-id="64">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Alexander Alexanderson</td>
          <td>Praesent urna risus, luctus in lectus scelerisque, porta luctus ligula.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>24/05/15</td>
        </tr>
        <tr data-id="65">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>John Smith</td>
          <td>Vivamus sit amet ullamcorper urna, porta luctus ligula.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>23/05/15</td>
        </tr>
        <tr data-id="66">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Joanna Smith</td>
          <td>Curabitur est nisi, ultrices eget rhoncus eget, dignissim quis purus.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>23/05/15</td>
        </tr>
        <tr data-id="67">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Simona Styles</td>
          <td>Curabitur sit amet bibendum quam. Donec vitae velit et leo dignissim.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>23/05/15</td>
        </tr>
        <tr data-id="68">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Colton Curbs</td>
          <td>Duis sodales porttitor mi vel iaculis.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>22/05/15</td>
        </tr>
        <tr data-id="69">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Aram Asatryan</td>
          <td>Fusce hendrerit id quam sed pellentesque.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>21/05/15</td>
        </tr>
        <tr data-id="70">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Jeremy Cuban</td>
          <td>Donec eleifend, ipsum quis consectetur fringilla, dolor dolor maximus lacus.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>20/05/15</td>
        </tr>
        <tr data-id="71">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Aaron Locke</td>
          <td>Proin nulla metus, varius sed eros ac, auctor fermentum velit.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>19/05/15</td>
        </tr>
        <tr data-id="72">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Paul Higgins</td>
          <td>Nunc elit leo, blandit sed elementum non, feugiat at nunc.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>19/05/15</td>
        </tr>
        <tr data-id="73">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Lola Hopkins</td>
          <td>Ut eget nunc nibh. Proin et efficitur magna, at maximus neque.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>18/05/15</td>
        </tr>
        <tr data-id="74">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Austin Sellers</td>
          <td>Interdum et malesuada fames ac ante ipsum primis in faucibus.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>17/05/15</td>
        </tr>
        <tr data-id="75">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Ulrich Groban</td>
          <td>Morbi et turpis non magna feugiat vestibulum.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>16/05/15</td>
        </tr>
        <tr data-id="76">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Irma Dallas</td>
          <td>Suspendisse id pulvinar ipsum, sit amet aliquam dolor.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>15/05/15</td>
        </tr>
        <tr data-id="77">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Anton Smirnov</td>
          <td>Pellentesque efficitur, metus eget rutrum tristique.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>14/05/15</td>
        </tr>
        <tr data-id="78">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Don Lipman</td>
          <td>Maecenas elementum nisi vitae eros ornare, a sollicitudin magna imperdiet.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>13/05/15</td>
        </tr>
        <tr data-id="79">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>John Doe</td>
          <td>Vestibulum pulvinar aliquam felis, eget imperdiet magna bibendum id.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>12/05/15</td>
        </tr>
        <tr data-id="80">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Donna Armas</td>
          <td>Curabitur dictum porta tortor at dignissim.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>12/05/15</td>
        </tr>
        <tr data-id="81">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Lela Sinnings</td>
          <td>Duis vitae tempus velit. Nam nisi tellus, elementum id fringilla porttitor.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>11/05/15</td>
        </tr>
        <tr data-id="82">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Paula Golden</td>
          <td>Quisque eu ante vitae mi scelerisque fermentum in a augue.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>10/05/15</td>
        </tr>
        <tr data-id="83">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Julietta Sellman</td>
          <td>Pellentesque aliquam ornare vestibulum.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>09/05/15</td>
        </tr>
        <tr data-id="84">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Sonia Lehman</td>
          <td>Integer iaculis congue bibendum.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>08/05/15</td>
        </tr>
        <tr data-id="85">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Lidia Dornan</td>
          <td>Aliquam erat volutpat. Integer sed eros eget ex pretium accumsan.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>07/05/15</td>
        </tr>
        <tr data-id="86">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Aaron Rocke</td>
          <td>Phasellus vitae magna fermentum, dignissim ex nec, lacinia enim.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>06/05/15</td>
        </tr>
        <tr data-id="87">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Hilary Mandel</td>
          <td>Aliquam tristique enim id convallis imperdiet. Duis ac laoreet nulla.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>05/05/15</td>
        </tr>
        <tr data-id="88">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Henrick Axelson</td>
          <td>Proin sodales ex at nisi interdum, eu scelerisque purus interdum.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>04/05/15</td>
        </tr>
        <tr data-id="89">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Orson Collis</td>
          <td>Etiam maximus nec sem vitae pellentesque.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>03/05/15</td>
        </tr>
        <tr data-id="90">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Linda Hepburn</td>
          <td>Aliquam pretium nulla velit, sit amet tempor nulla semper et.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>02/05/15</td>
        </tr>
        <tr data-id="91">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Albert Lohman</td>
          <td>Ut sit amet interdum elit. Proin in placerat tellus, sit amet eleifend magna.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>01/05/15</td>
        </tr>
        <tr data-id="92">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Lisa Zeller</td>
          <td>Pellentesque sed leo ac nunc dignissim congue a in mauris.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>29/04/15</td>
        </tr>
        <tr data-id="93">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Frank Cocha</td>
          <td>Morbi tincidunt, dui et pharetra hendrerit, dolor elit efficitur diam.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>28/04/15</td>
        </tr>
        <tr data-id="94">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Annet Shiefer</td>
          <td>Class aptent taciti sociosqu ad litora torquent per conubia nostra.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>27/04/15</td>
        </tr>
        <tr data-id="95">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Leandro Amber</td>
          <td>Cras varius porttitor bibendum.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>27/04/15</td>
        </tr>
        <tr data-id="96">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Aretha Davidson</td>
          <td>Mauris ultrices mauris ac sem facilisis, dignissim finibus metus efficitur.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>26/04/15</td>
        </tr>
        <tr data-id="97">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Greg Ganton</td>
          <td>Ut venenatis erat iaculis massa convallis, a convallis lacus aliquet.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>25/04/15</td>
        </tr>
        <tr data-id="98">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Linda Hamilton</td>
          <td>Maecenas augue nulla, accumsan ut orci tempus, sagittis suscipit dolor.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>24/04/15</td>
        </tr>
        <tr data-id="99">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Elliot Solo</td>
          <td>Aliquam tortor nisi, commodo ut hendrerit in, semper non leo.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>23/04/15</td>
        </tr>
        <tr data-id="100">
          <td>
            <input type="checkbox" class="icheck">
            <span class="star m-left-5"><i class="fa fa-star-o"></i></span>
          </td>
          <td>Mark Izhak</td>
          <td>Maecenas ullamcorper urna nec rhoncus cursus.</td>
          <td><i class="fa fa-paperclip"></i></td>
          <td>22/04/15</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.table-responsive -->

  <div class="inbox-list-pagination">
    <div class="row">
      <div class="col-sm-6">
        <!-- pagination info label -->
        <div 
          data-type="Showing page {current} of {pages}" 
          data-control-type="pagination-info" 
          data-control-name="paging" 
          data-control-action="paging">
        </div>
      </div><!-- /.col-sm-6 -->

      <div class="col-sm-6">
        <!-- pagination control -->
        <ul 
          class="pagination pull-right m-top-0 rounded"
          data-control-type="boot-pagination" 
          data-control-name="paging" 
          data-control-action="paging"
          data-range="4"
          data-items-per-page="20"
          data-first="First"
          data-last="Last"
          data-prev="<i class='fa fa-caret-left'></i>"
          data-next="<i class='fa fa-caret-right'></i>">
        </ul>
      </div><!-- /.col-sm-6 -->
    </div><!-- /.row -->
  </div><!-- /.inbox-list-pagination -->
</form>